---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1349216542.487149&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216542487149/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1349216542.487149",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-10-02T22:22:22",
        "slug": "1349216542487149", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "868744993", "isDeleted": false}}'
  recorded_at: Tue, 02 Oct 2012 22:22:23 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json
    body:
      encoding: US-ASCII
      string: thread=868744993&message=Saskatoon&api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:32045129
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "<FORUM_NAME>", "parent": null, "author": {"username": "stipple-c4ca4238a0b923820dcc509a6f75849b",
        "about": "", "name": "Tester", "url": "", "joinedAt": "2012-09-12T18:08:50",
        "rep": 1.277142, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/stipple-c4ca4238a0b923820dcc509a6f75849b/", "emailHash":
        "500a98812f392cd2ec694901cef0ca68", "reputation": 1.277142, "location": "",
        "isPrimary": true, "isAnonymous": false, "id": "32045129", "avatar": {"small":
        {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=500a98812f392cd2ec694901cef0ca68",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=500a98812f392cd2ec694901cef0ca68"},
        "large": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=500a98812f392cd2ec694901cef0ca68",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=500a98812f392cd2ec694901cef0ca68"},
        "permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=500a98812f392cd2ec694901cef0ca68",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=500a98812f392cd2ec694901cef0ca68"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "Saskatoon", "createdAt": "2012-10-02T22:22:23", "id": "669097774", "thread":
        "868744993", "numReports": 0, "likes": 0, "isEdited": false, "points": 0,
        "message": "<p>Saskatoon</p>", "isSpam": false, "isHighlighted": false, "userScore":
        0}}'
  recorded_at: Tue, 02 Oct 2012 22:22:24 GMT
recorded_with: VCR 2.2.5
