---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json
    body:
      encoding: US-ASCII
      string: thread=808&message=no%20privileges&api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "You must authenticate the user or provide
        author_name and author_email"}'
  recorded_at: Tue, 02 Oct 2012 22:22:22 GMT
recorded_with: VCR 2.2.5
