---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json
    body:
      encoding: US-ASCII
      string: message=missing%20thread&api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      x-user:
      - loginas:None:32045129
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "Missing required argument: ''thread''"}'
  recorded_at: Tue, 02 Oct 2012 22:22:21 GMT
recorded_with: VCR 2.2.5
