---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: message=missing%20thread&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "Missing required argument: ''thread''"}'
  recorded_at: Thu, 06 Sep 2012 23:58:39 GMT
recorded_with: VCR 2.2.4
