---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1349216549.588383&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216549588383/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1349216549.588383",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-10-02T22:22:30",
        "slug": "1349216549588383", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "868745092", "isDeleted": false}}'
  recorded_at: Tue, 02 Oct 2012 22:22:30 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json
    body:
      encoding: US-ASCII
      string: thread=868745092&message=test1&api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:33439463
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "<FORUM_NAME>", "parent": null, "author": {"username": "stipple-c81e728d9d4c2f636f067f89cc14862c",
        "about": "", "name": "Tester 2", "url": "", "joinedAt": "2012-10-01T23:49:39",
        "rep": 1.2339689999999999, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/stipple-c81e728d9d4c2f636f067f89cc14862c/", "emailHash":
        "b4b624e0beb810286b5e11192c7c485a", "reputation": 1.2339689999999999, "location":
        "", "isPrimary": true, "isAnonymous": false, "id": "33439463", "avatar": {"small":
        {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=b4b624e0beb810286b5e11192c7c485a",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=b4b624e0beb810286b5e11192c7c485a"},
        "large": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=b4b624e0beb810286b5e11192c7c485a",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=b4b624e0beb810286b5e11192c7c485a"},
        "permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=b4b624e0beb810286b5e11192c7c485a",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1349204341%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=b4b624e0beb810286b5e11192c7c485a"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "test1", "createdAt": "2012-10-02T22:22:30", "id": "669097852", "thread":
        "868745092", "numReports": 0, "likes": 0, "isEdited": false, "points": 0,
        "message": "<p>test1</p>", "isSpam": false, "isHighlighted": false, "userScore":
        0}}'
  recorded_at: Tue, 02 Oct 2012 22:22:31 GMT
- request:
    method: get
    uri: https://disqus.com/api/3.0/threads/details.json?thread=868745092&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216549588383/latest.rss",
        "reactions": 0, "canModerate": true, "identifiers": [], "dislikes": 0, "likes":
        0, "message": "", "id": "868745092", "createdAt": "2012-10-02T22:22:30", "category":
        "1748258", "author": "24478449", "userScore": 0, "isDeleted": false, "isClosed":
        false, "link": null, "slug": "1349216549588383", "forum": "<FORUM_NAME>",
        "title": "1349216549.588383", "posts": 1, "userSubscription": false, "canPost":
        true, "ipAddress": "208.80.69.2"}}'
  recorded_at: Tue, 02 Oct 2012 22:22:32 GMT
recorded_with: VCR 2.2.5
