---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1349216556.119265&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216556119265/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1349216556.119265",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-10-02T22:22:37",
        "slug": "1349216556119265", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "868745185", "isDeleted": false}}'
  recorded_at: Tue, 02 Oct 2012 22:22:37 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json
    body:
      encoding: US-ASCII
      string: thread=868745185&message=test&api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      x-user:
      - loginas:None:32045129
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "You have already made this comment."}'
  recorded_at: Tue, 02 Oct 2012 22:22:38 GMT
- request:
    method: get
    uri: https://disqus.com/api/3.0/threads/details.json?thread=868745185&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216556119265/latest.rss",
        "reactions": 0, "canModerate": true, "identifiers": [], "dislikes": 0, "likes":
        0, "message": "", "id": "868745185", "createdAt": "2012-10-02T22:22:37", "category":
        "1748258", "author": "24478449", "userScore": 0, "isDeleted": false, "isClosed":
        false, "link": null, "slug": "1349216556119265", "forum": "<FORUM_NAME>",
        "title": "1349216556.119265", "posts": 0, "userSubscription": false, "canPost":
        true, "ipAddress": "208.80.69.2"}}'
  recorded_at: Tue, 02 Oct 2012 22:22:38 GMT
recorded_with: VCR 2.2.5
