---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple&title=1346974643.8539531&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple.disqus.com/13469746438539531/latest.rss",
        "reactions": 0, "author": "31698126", "forum": "stipple", "title": "1346974643.8539531",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-06T23:37:25",
        "slug": "13469746438539531", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1642062", "id":
        "833836518", "isDeleted": false}}'
  recorded_at: Thu, 06 Sep 2012 23:37:25 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=833836518&message=test&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "You have already made this comment."}'
  recorded_at: Thu, 06 Sep 2012 23:37:26 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=833836518&message=test1&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "stipple", "parent": null, "author": {"username": "mcarey_stipple",
        "about": "", "name": "mcarey_stipple", "url": "", "joinedAt": "2012-09-06T00:11:31",
        "rep": 1.2369209999999999, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/mcarey_stipple/", "emailHash": "30e6e7a8c7576776e10714f85dbb4aa9",
        "reputation": 1.2369209999999999, "location": "", "isPrimary": true, "isAnonymous":
        false, "id": "31698126", "avatar": {"small": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308"},
        "large": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"},
        "permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "test1", "createdAt": "2012-09-06T23:37:26", "id": "642545285", "thread":
        "833836518", "numReports": 0, "likes": 0, "isEdited": false, "points": 0,
        "message": "<p>test1</p>", "isSpam": false, "isHighlighted": false, "userScore":
        0}}'
  recorded_at: Thu, 06 Sep 2012 23:37:27 GMT
[...]
- request:
    method: get
    uri: https://disqus.com/api/3.0/threads/details.json?&thread=833836518&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple.disqus.com/13469746438539531/latest.rss",
        "reactions": 0, "canModerate": true, "canPost": true, "author": "31698126",
        "forum": "stipple", "title": "1346974643.8539531", "dislikes": 0, "identifiers":
        [], "userScore": 0, "createdAt": "2012-09-06T23:37:25", "slug": "13469746438539531",
        "isClosed": false, "posts": 3, "userSubscription": false, "link": null, "likes":
        0, "message": "", "category": "1642062", "id": "833836518", "isDeleted": false}}'
  recorded_at: Thu, 06 Sep 2012 23:37:29 GMT
recorded_with: VCR 2.2.4
