---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple-development&title=1347483474.6067672&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple-development.disqus.com/13474834746067672/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "stipple-development", "title":
        "1347483474.6067672", "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt":
        "2012-09-12T20:57:55", "slug": "13474834746067672", "isClosed": false, "posts":
        0, "userSubscription": false, "link": null, "likes": 0, "message": "", "category":
        "1748258", "ipAddress": "208.80.69.2", "id": "841672931", "isDeleted": false}}'
  recorded_at: Wed, 12 Sep 2012 20:57:55 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=841672931&message=test&api_secret=<SECRET_KEY>&remote_auth=eyJ1c2VybmFtZSI6IlRlc3RlciIsImlkIjoiMSIsImVtYWlsIjoickByLmNvbSJ9%200048764fb27780cbd6ea0ddf792e47b34de40693%201347483475
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:32045129
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "stipple-development", "parent": null, "author": {"username": "stipple-c4ca4238a0b923820dcc509a6f75849b",
        "about": "", "name": "Tester", "url": "", "joinedAt": "2012-09-12T18:08:50",
        "rep": 1.2572159999999999, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/stipple-c4ca4238a0b923820dcc509a6f75849b/", "emailHash":
        "604a2592fdc946151a05706ed0d9978f", "reputation": 1.2572159999999999, "location":
        "", "isPrimary": true, "isAnonymous": false, "id": "32045129", "avatar": {"small":
        {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=604a2592fdc946151a05706ed0d9978f",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=604a2592fdc946151a05706ed0d9978f"},
        "large": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=604a2592fdc946151a05706ed0d9978f",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=604a2592fdc946151a05706ed0d9978f"},
        "permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=604a2592fdc946151a05706ed0d9978f",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=604a2592fdc946151a05706ed0d9978f"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "test", "createdAt": "2012-09-12T20:57:55", "id": "648249770", "thread": "841672931",
        "numReports": 0, "likes": 0, "isEdited": false, "points": 0, "message": "<p>test</p>",
        "isSpam": false, "isHighlighted": false, "userScore": 0}}'
  recorded_at: Wed, 12 Sep 2012 20:57:56 GMT
[...]
- request:
    method: get
    uri: https://disqus.com/api/3.0/threads/details.json?&thread=841672931&api_secret=<SECRET_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple-development.disqus.com/13474834746067672/latest.rss",
        "reactions": 0, "canModerate": true, "identifiers": [], "dislikes": 0, "likes":
        0, "message": "", "id": "841672931", "createdAt": "2012-09-12T20:57:55", "category":
        "1748258", "author": "24478449", "userScore": 0, "isDeleted": false, "isClosed":
        false, "link": null, "slug": "13474834746067672", "forum": "stipple-development",
        "title": "1347483474.6067672", "posts": 4, "userSubscription": false, "canPost":
        true, "ipAddress": "208.80.69.2"}}'
  recorded_at: Wed, 12 Sep 2012 20:58:00 GMT
recorded_with: VCR 2.2.4
