---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1347495638230949:0:0",
        "hasPrev": false, "total": null, "id": "1347495638230949:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "technobuffalobeta", "parent": 648398450, "author": {"username": "Rafa964",
        "about": "", "name": "Rafa964", "url": "", "joinedAt": "2011-03-30T20:30:39",
        "rep": 2.412798, "profileUrl": "http://disqus.com/Rafa964/", "emailHash":
        "196b725aec356b29936a684f7b8e646d", "reputation": 2.412798, "location": "Dominican
        Republic", "isPrimary": true, "isAnonymous": false, "id": "8587610", "avatar":
        {"small": {"permalink": "http://disqus.com/api/users/avatars/Rafa964.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/858/7610/avatar32.jpg?1345759539"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/Rafa964.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/858/7610/avatar92.jpg?1345759539",
        "large": {"permalink": "http://disqus.com/api/users/avatars/Rafa964.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/858/7610/avatar92.jpg?1345759539"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "Wow infiniti blade such an awesome game.. It has no good story and the gameplay
        is repetitive. ", "createdAt": "2012-09-13T00:20:41", "id": "648452572", "thread":
        "841654265", "numReports": 0, "likes": 0, "isEdited": false, "points": 0,
        "message": "<p>Wow infiniti blade such an awesome game.. It has no good story
        and the gameplay is repetitive. </p>", "isSpam": false, "isHighlighted": false,
        "userScore": 0}, {"isJuliaFlagged": true, "isFlagged": false, "forum": "cnnmoney",
        "parent": null, "author": {"username": "cnn-cbc9790a5984dc6dd5ccc126e1", "about":
        "", "name": "chill485", "url": "#", "joinedAt": "2010-10-22T14:02:49", "rep":
        1.3933329999999999, "profileUrl": "http://disqus.com/cnn-cbc9790a5984dc6dd5ccc126e1/",
        "emailHash": "c4de3a9a0c97f5fa1abcb2d22ab0c835", "reputation": 1.3933329999999999,
        "location": "", "isPrimary": true, "isAnonymous": false, "i[...]
