---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1346971722696238:0:0",
        "hasPrev": false, "total": null, "id": "1346971722696238:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "cnn", "parent": 642504159, "author": {"username": "cnn-f13e6698617823ef593fbaf0de",
        "about": "", "name": "PTNY", "url": "#", "joinedAt": "2012-02-15T13:54:14",
        "rep": 2.5188899999999999, "profileUrl": "http://disqus.com/cnn-f13e6698617823ef593fbaf0de/",
        "emailHash": "dced991423c577dd63cd7d4b5d30ed7d", "reputation": 2.5188899999999999,
        "location": "", "isPrimary": true, "isAnonymous": false, "id": "22426150",
        "avatar": {"small": {"permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar32.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar32.jpg?1327959337"},
        "large": {"permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337"},
        "permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "\u00a0GOPhers....here above is you decisiveness. ", "createdAt": "2012-09-06T22:48:45",
        "id": "642504974", "thread": "833651202", "numReports": 0, "likes": 0, "isEdited":
        false, "points": 0, "message": "<p>\u00a0GOPhers....here above is you decisiveness.
        </p>", "isSpam": false, "isHighlighted": false, "userScore": 0}, {"isJuliaFlagged":
        true, "isFlagged": false, "forum": "theatlantic", "parent": 623234536, "author":
        {"username": "facebook-100002166668687", "about": "", "name": "Ali Goria",
        "url": "http://www.facebook.com/profile.php?id=100002166668687", "joinedAt":
        "2011-10-24T19:07:21", "rep": 1.609572, "profileUrl": "http://disqus.com/facebook-100002166668687/",
        "emailHash": "d41d8cd98f00b204e9800998ecf8427e", "reputation": 1.609572, "location":
        "", "isPrimary": true, "isAnonymous": false, "id": "18299151", "avatar": {"small":
        {"permalink": "http://disqus.com/api/users/avatars/facebook-100002166668687.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1829/9151/avatar32.jpg?1346458281"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/facebook-100002166668687.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1829/9151/avatar92.jpg?1346458281",
        "large": {"permalink": "http://disqus.com/api/users/avatars/facebook-100002166668687.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1829/9151/avatar92.jpg?1346458281"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "NO,\u00a0\u00a0[...]
