---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?api_key=<API_KEY>&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1349216523714831:0:0",
        "hasPrev": false, "total": null, "id": "1349216523714831:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "makeharmony", "parent": null, "author": {"username": "letsmakeharmony", "about":
        "", "name": "letsmakeharmony", "url": "", "joinedAt": "2012-10-02T22:13:10",
        "rep": 1.232124, "profileUrl": "http://disqus.com/letsmakeharmony/", "emailHash":
        "0c051fe84bda45332806a6bc73f1da2a", "reputation": 1.232124, "location": "",
        "isPrimary": true, "isAnonymous": false, "id": "33537024", "avatar": {"small":
        {"permalink": "http://disqus.com/api/users/avatars/letsmakeharmony.jpg", "cache":
        "https://securecdn.disqus.com/uploads/users/3353/7024/avatar32.jpg?1349215990"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/letsmakeharmony.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/3353/7024/avatar92.jpg?1349215990",
        "large": {"permalink": "http://disqus.com/api/users/avatars/letsmakeharmony.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/3353/7024/avatar92.jpg?1349215990"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "Welcome to Make Harmony! This is an open forum, so let''s start talking about
        what you''d like to see this space become!", "createdAt": "2012-10-02T22:22:05",
        "id": "669097538", "thread": "868737526", "numReports": 0, "likes": 0, "isEdited":
        false, "points": 0, "message": "<p>Welcome to Make Harmony! This is an open
        forum, so let''s start talking about what you''d like to see this space become!</p>",
        "isSpam": false, "isHighlighted": false, "userScore": 0}, {"isJuliaFlagged":
        true, "isFlagged": false, "forum": "donalupa", "parent": 669096901, "author":
        {"username": "JosySant", "about": "", "name": "\u273f~Josy\u273f~", "url":
        "", "joinedAt": "2012-09-20T13:28:02", "rep": 1.3631629999999999, "profileUrl":
        "http://disqus.com/JosySant/", "emailHash": "d58f2af4ddb92aa5e75cc2e76ae7cfcc",
        "reputation": 1.3631629999999999, "location": "", "isPrimary": true, "isAnonymous":
        false, "id": "32525581", "avata[...]
