---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1346975907215644:0:0",
        "hasPrev": false, "total": null, "id": "1346975907215644:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "tomandlorenzo", "parent": 642480827, "author": {"username": "sleepycat",
        "about": "", "name": "sleepycat", "url": "", "joinedAt": "2011-06-23T02:15:56",
        "rep": 1.358325, "profileUrl": "http://disqus.com/sleepycat/", "emailHash":
        "250d779f89f40c2379fe700d08df40c6", "reputation": 1.358325, "location": "",
        "isPrimary": true, "isAnonymous": false, "id": "12918640", "avatar": {"small":
        {"permalink": "http://disqus.com/api/users/avatars/sleepycat.jpg", "cache":
        "https://securecdn.disqus.com/uploads/users/1291/8640/avatar32.jpg?1308796008"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/sleepycat.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1291/8640/avatar92.jpg?1308796008",
        "large": {"permalink": "http://disqus.com/api/users/avatars/sleepycat.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1291/8640/avatar92.jpg?1308796008"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "Congrats!!! Pases out the bubbly for round 5", "createdAt": "2012-09-06T23:58:30",
        "id": "642561376", "thread": "833735440", "numReports": 0, "likes": 0, "isEdited":
        false, "points": 0, "message": "<p>Congrats!!! Pases out the bubbly for round
        5</p>", "isSpam": false, "isHighlighted": false, "userScore": 0}, {"isJuliaFlagged":
        true, "isFlagged": false, "forum": "jaidefinichon", "parent": 642560506, "author":
        {"username": "raton_de_laboratorio", "about": "", "name": "Rata qla", "url":
        "http://www.disney.com/", "joinedAt": "2012-09-05T21:53:59", "rep": 1.44198,
        "profileUrl": "http://disqus.com/raton_de_laboratorio/", "emailHash": "573855476caa8c3d611d42f279b9f439",
        "reputation": 1.44198, "location": "", "isPrimary": true, "isAnonymous": false,
        "id":[...]
