---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1347488030569825:0:0",
        "hasPrev": false, "total": null, "id": "1347488030569825:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "avpixlat", "parent": 648322838, "author": {"username": "Erikdenhelige", "about":
        "", "name": "Erikdenhelige", "url": "", "joinedAt": "2011-07-26T13:11:05",
        "rep": 1.646069, "profileUrl": "http://disqus.com/Erikdenhelige/", "emailHash":
        "2081b8b8a9789c809fac21338eab15fb", "reputation": 1.646069, "location": "",
        "isPrimary": true, "isAnonymous": false, "id": "14527069", "avatar": {"small":
        {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=2081b8b8a9789c809fac21338eab15fb",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=2081b8b8a9789c809fac21338eab15fb"},
        "large": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=2081b8b8a9789c809fac21338eab15fb",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=2081b8b8a9789c809fac21338eab15fb"},
        "permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=2081b8b8a9789c809fac21338eab15fb",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=2081b8b8a9789c809fac21338eab15fb"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "\u00a0Identitetskort funkar i hela EU f\u00f6r de flesta EU-medborgare. En
        est kan exempelvis \u00e5ka till b\u00e5de UK, Rum\u00e4nien och Bulgarien
        med enbart ID-kort.\u00a0 Redan innan Estland gick med i Schengen kunde de
        \u00e4ven resa till Schengenl\u00e4nder p\u00e5 enbart sitt ID-kort.\n\nDet
        \u00e4r Sverige som \u00e4r efterblivet och har best\u00e4mt att just v\u00e5ra
        nationella identitetskort inte g\u00e4ller utanf\u00f6r Schengen.", "createdAt":
        "2012-09-12T22:13:53", "id": "648330196", "thread": "841681854", "numReports":
        0, "likes": 0, "isEdited": false, "points": 0, "message": "<p>\u00a0Identitetskort
        funkar i hela EU f\u00f6r de flesta EU-medborgare. En est kan exempelvis \u00e5ka
        till b\u00e5de UK, Rum\u00e4nien och Bulgarien med enbart ID-kort.\u00a0 Redan
        innan Estland gick med i Schengen kunde de \u00e4ven resa till Schengenl\u00e4nder
        p\u00e5 enbart sitt ID-kort.</p>\n\n<p>Det \u00e4r Sverige som \u00e4r efterblivet
        och har best\u00e4mt att just v\u00e5ra nationella identitetskort inte g\u00e4ller
        utanf\u00f6r Schengen.</p>", "isSpam": false, "isHighlighted": false, "userScore":
        0}, {"isJuliaFlagged": true, "isFlagged": false, "forum": "motherjones", "parent":
        648056477, "author": {"username": "motherjones-1ca6324bfda630d3b69d784bb6032660",
        "about": "", "name": "n1cholas", "url": "", "joinedAt": "2012-03-30T00:25:12",
        "rep": 1.8781529999999997, "profileUrl": "http://disqus.com/motherjones-1ca6324bfda630d3b69d784bb6032660/",
        "emailHash": "eb4626259e5ad5904b0b3ed9791a173c", "reputation": 1.8781529999999997,
        "location": "", "isPrimary": true, "isAnonymous": false, "id": "24196926",
        "avatar": {"small": {"permalink": "http://disqus.com/api/users/avatars/motherjones-1ca6324bfda630d3b69d784bb6032660.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2419/6926/avatar32.jpg?1347487975"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/motherjones-1ca6324bfda630d3b69d784bb6032660.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2419/6926/avatar92.jpg?1347487975",
        "large": {"permalink": "http://disqus.com/api/users/avatars/motherjones-1ca6324bfda630d3b69d784bb6032660.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2419/6926/avatar92.jpg?1347487975"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0,[...]
