---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_secret=<SECRET_KEY>&remote_auth=e30%3D%20c9e7d07206d0d064737d778012a582abfd8955e9%201347484514
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1347484482205394:0:0",
        "hasPrev": false, "total": null, "id": "1347484482205394:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "apnitv", "parent": null, "author": {"name": "Heena", "url": "", "profileUrl":
        "http://disqus.com/guest/d481e318b41d9f380d2ac34e1be5656b/", "emailHash":
        "d481e318b41d9f380d2ac34e1be5656b", "avatar": {"small": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=d481e318b41d9f380d2ac34e1be5656b",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=d481e318b41d9f380d2ac34e1be5656b"},
        "large": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=d481e318b41d9f380d2ac34e1be5656b",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=d481e318b41d9f380d2ac34e1be5656b"},
        "permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=d481e318b41d9f380d2ac34e1be5656b",
        "cache": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar92.png&size=92&gravatar_id=d481e318b41d9f380d2ac34e1be5656b"},
        "isAnonymous": true}, "media": [], "isDeleted": false, "isApproved": true,
        "dislikes": 0, "raw_message": "Ekta ka poor is mad y don''t u join politics
        ekta tumara har serial mein itna fake hota hai aur lead heroin ko tum criminal
        banadeati ho Jo tum harea serial mein hota hai who real lyf mein kabhi nahi
        hota so plz tum apnea serial banaane ka kaam bann karo n get lost ", "createdAt":
        "2012-09-12T21:14:44", "id": "648267396", "thread": "841438699", "numReports":
        0, "likes": 0, "isEdited": false, "points": 0, "message": "<p>Ekta ka poor
        is mad y don''t u join politics ekta tumara har serial mein itna fake hota
        hai aur lead heroin ko tum criminal banadeati ho Jo tum harea serial mein
        hota hai who real lyf mein kabhi nahi hota so plz tum apnea serial banaane
        ka kaam bann karo n get lost </p>", "isSpam": false, "isHighlighted": false,
        "userScore": 0}, {"isJuliaFlagged": true, "isFlagged": false, "forum": "rvw",
        "parent": null, "author": {"name": "drewdogg6998", "url": "", "profileUrl":
        "http://disqus.com/guest/f5ecb1d4c1776e36df83273ce38ab075/", "emailHash":
        "f5ecb1d4c1776e36df83273ce38ab075", "avatar": {"small": {"permalink": "http://www.gravatar.com/avatar.php?default=http%3A%2F%2Fmediacdn.disqus.com%2F1347396968%2Fimages%2Fnoavatar32.png&size=32&gravatar_id=f5ecb1d4c1776e36df83273ce38ab075",
        "cache": "h[...]
