---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_secret=<SECRET_KEY>&remote_auth=<AUTH_S3>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1347489016686367:0:0",
        "hasPrev": false, "total": null, "id": "1347489016686367:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "worldstar", "parent": null, "author": {"username": "MaNNydope", "about":
        "", "name": "MaNNydope", "url": "", "joinedAt": "2011-11-06T00:39:58", "rep":
        1.4840549999999999, "profileUrl": "http://disqus.com/MaNNydope/", "emailHash":
        "ad43dac59f28df1558f8f3d8bf2ffd4c", "reputation": 1.4840549999999999, "location":
        "", "isPrimary": true, "isAnonymous": false, "id": "18758659", "avatar": {"small":
        {"permalink": "http://disqus.com/api/users/avatars/MaNNydope.jpg", "cache":
        "https://securecdn.disqus.com/uploads/users/1875/8659/avatar32.jpg?1325800594"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/MaNNydope.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1875/8659/avatar92.jpg?1325800594",
        "large": {"permalink": "http://disqus.com/api/users/avatars/MaNNydope.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/1875/8659/avatar92.jpg?1325800594"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "antuawn holla at him bitch ass nigga\u00a0 ", "createdAt": "2012-09-12T22:30:18",
        "id": "648346271", "thread": "839623129", "numReports": 0, "likes": 0, "isEdited":
        false, "points": 0, "message": "<p>antuawn holla at him bitch ass nigga\u00a0
        </p>", "isSpam": false, "isHighlighted": false, "userScore": 0}, {"isJuliaFlagged":
        true, "isFlagged": false, "forum": "avclub", "parent": 648315249, "author":
        {"username": "avclub-1bc92b99fd45cc2e89907ad2770c2746", "about": "", "name":
        "RicheyEdwardsandthe Cruisers", "url": "/users/richeyedwardsandthe-cruisers,120101/",
        "joinedAt": "2012-06-09T10:46:09", "rep": 1.2419249999999999, "profileUrl":
        "http://disqus.com/avclub-1bc92b99fd45cc2e89907ad2770c2746/", "emailHash":
        "6961afe5cd65ccf1f3e9c52fbb06225b", "r[...]
