---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple&title=1346971744.223958&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple.disqus.com/1346971744223958/latest.rss",
        "reactions": 0, "author": "31698126", "forum": "stipple", "title": "1346971744.223958",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-06T22:49:04",
        "slug": "1346971744223958", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1642062", "id":
        "833798563", "isDeleted": false}}'
  recorded_at: Thu, 06 Sep 2012 22:49:04 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=833798563&message=test&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X&access_token=671388dfed0144e59ebfe9fe401bb832
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "stipple", "parent": null, "author": {"username": "mcarey_stipple",
        "about": "", "name": "mcarey_stipple", "url": "", "joinedAt": "2012-09-06T00:11:31",
        "rep": 1.2339689999999999, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/mcarey_stipple/", "emailHash": "30e6e7a8c7576776e10714f85dbb4aa9",
        "reputation": 1.2339689999999999, "location": "", "isPrimary": true, "isAnonymous":
        false, "id": "31698126", "avatar": {"small": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308"},
        "large": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"},
        "permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "test", "createdAt": "2012-09-06T22:49:05", "id": "642505193", "thread": "833798563",
        "numReports": 0, "likes": 0, "isEdited": false, "points": 0, "message": "<p>test</p>",
        "isSpam": false, "isHighlighted": false, "userScore": 0}}'
  recorded_at: Thu, 06 Sep 2012 22:49:05 GMT
[...]
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&forum=stipple&thread=833798563&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": false, "next": "1346955634055803:1:0",
        "hasPrev": false, "total": null, "id": "1346955634055803:1:0", "more": false},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "stipple", "parent": null, "author": {"username": "mcarey_stipple", "about":
        "", "name": "mcarey_stipple", "url": "", "joinedAt": "2012-09-06T00:11:31",
        "rep": 1.234707, "profileUrl": "http://disqus.com/mcarey_stipple/", "emailHash":
        "30e6e7a8c7576776e10714f85dbb4aa9", "reputation": 1.234707, "location": "",
        "isPrimary": true, "isAnonymous": false, "id": "3169812[...]
