---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple&title=1346975922.23047&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple.disqus.com/134697592223047/latest.rss",
        "reactions": 0, "author": "31698126", "forum": "stipple", "title": "1346975922.23047",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-06T23:58:42",
        "slug": "134697592223047", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1642062", "id":
        "833853717", "isDeleted": false}}'
  recorded_at: Thu, 06 Sep 2012 23:58:42 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=833853717&message=test&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 2, "response": "You have already made this comment."}'
  recorded_at: Thu, 06 Sep 2012 23:58:43 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/posts/create.json?
    body:
      encoding: US-ASCII
      string: thread=833853717&message=test%202&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"isJuliaFlagged": true, "isFlagged": false,
        "forum": "stipple", "parent": null, "author": {"username": "mcarey_stipple",
        "about": "", "name": "mcarey_stipple", "url": "", "joinedAt": "2012-09-06T00:11:31",
        "rep": 1.238766, "isFollowing": false, "isFollowedBy": false, "profileUrl":
        "http://disqus.com/mcarey_stipple/", "emailHash": "30e6e7a8c7576776e10714f85dbb4aa9",
        "reputation": 1.238766, "location": "", "isPrimary": true, "isAnonymous":
        false, "id": "31698126", "avatar": {"small": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar32.jpg?1344752308"},
        "large": {"permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"},
        "permalink": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308",
        "cache": "https://securecdn.disqus.com/uploads/forums/161/1830/avatar92.jpg?1344752308"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "test 2", "createdAt": "2012-09-06T23:58:43", "id": "642561506", "thread":
        "833853717", "numReports": 0, "likes": 0, "isEdited": false, "points": 0,
        "message": "<p>test 2</p>", "isSpam": false, "isHighlighted": false, "userScore":
        0}}'
  recorded_at: Thu, 06 Sep 2012 23:58:44 GMT
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&forum=stipple&thread=833853717&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": false, "next": "1346955634055803:1:0",
        "hasPrev": false, "total": null, "id": "1346955634055803:1:0", "more": false},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "stipple", "parent": null, "author": {"username": "mcarey_stipple", "about":
        "", "name": "mcarey_stipple", "url": "", "joinedAt": "2012-09-06T00:11:31",
        "rep": 1.2391349999999999, "profileUrl": "http://disqus.com/mcarey_stipple/",
        "emailHash": "30e6e7a8c7576776e10714f85dbb4aa9", "reputation": 1.2391349999999999,
        "location": "", "isPrimary": true, "isAnonymous": f[...]
