---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple-development&title=1347483473.517473&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple-development.disqus.com/1347483473517473/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "stipple-development", "title":
        "1347483473.517473", "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt":
        "2012-09-12T20:57:53", "slug": "1347483473517473", "isClosed": false, "posts":
        0, "userSubscription": false, "link": null, "likes": 0, "message": "", "category":
        "1748258", "ipAddress": "208.80.69.2", "id": "841672912", "isDeleted": false}}'
  recorded_at: Wed, 12 Sep 2012 20:57:54 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/remove.json?
    body:
      encoding: US-ASCII
      string: thread=841672912&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": []}'
  recorded_at: Wed, 12 Sep 2012 20:57:54 GMT
recorded_with: VCR 2.2.4
