---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=stipple&title=1346975932.77162&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://stipple.disqus.com/134697593277162/latest.rss",
        "reactions": 0, "author": "31698126", "forum": "stipple", "title": "1346975932.77162",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-06T23:58:53",
        "slug": "134697593277162", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1642062", "id":
        "833853850", "isDeleted": false}}'
  recorded_at: Thu, 06 Sep 2012 23:58:53 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/remove.json?
    body:
      encoding: US-ASCII
      string: thread=833853850&api_key=<API_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:31698126
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": []}'
  recorded_at: Thu, 06 Sep 2012 23:58:53 GMT
recorded_with: VCR 2.2.4
