---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1347495658.016587&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1347495658016587/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1347495658.016587",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-13T00:20:58",
        "slug": "1347495658016587", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "841826954", "isDeleted": false}}'
  recorded_at: Thu, 13 Sep 2012 00:20:58 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/remove.json?
    body:
      encoding: US-ASCII
      string: thread=841826954&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": []}'
  recorded_at: Thu, 13 Sep 2012 00:20:59 GMT
recorded_with: VCR 2.2.4
