---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1349216548.473163&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1349216548473163/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1349216548.473163",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-10-02T22:22:28",
        "slug": "1349216548473163", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "868745078", "isDeleted": false}}'
  recorded_at: Tue, 02 Oct 2012 22:22:29 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/remove.json
    body:
      encoding: US-ASCII
      string: thread=868745078&api_key=<API_KEY>&api_secret=<SECRET_KEY>&access_token=<ACCESS_TOKEN>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": []}'
  recorded_at: Tue, 02 Oct 2012 22:22:29 GMT
recorded_with: VCR 2.2.5
