---
http_interactions:
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/create.json?
    body:
      encoding: US-ASCII
      string: forum=<FORUM_NAME>&title=1347489047.782944&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": {"feed": "http://<FORUM_NAME>.disqus.com/1347489047782944/latest.rss",
        "reactions": 0, "author": "24478449", "forum": "<FORUM_NAME>", "title": "1347489047.782944",
        "userScore": 0, "identifiers": [], "dislikes": 0, "createdAt": "2012-09-12T22:30:48",
        "slug": "1347489047782944", "isClosed": false, "posts": 0, "userSubscription":
        false, "link": null, "likes": 0, "message": "", "category": "1748258", "ipAddress":
        "208.80.69.2", "id": "841751150", "isDeleted": false}}'
  recorded_at: Wed, 12 Sep 2012 22:30:48 GMT
- request:
    method: post
    uri: https://disqus.com/api/3.0/threads/remove.json?
    body:
      encoding: US-ASCII
      string: thread=841751150&api_secret=<SECRET_KEY>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      x-user:
      - loginas:None:24478449
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code": 0, "response": []}'
  recorded_at: Wed, 12 Sep 2012 22:30:48 GMT
recorded_with: VCR 2.2.4
