---
http_interactions:
- request:
    method: get
    uri: https://disqus.com/api/3.0/posts/list.json?&api_key=DwwALtvEas5hYiPZN77Va80fD74tPzxJ8uCj1Iatdon3XkcA7GIbL7Ty7hSbaM0X
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"cursor": {"prev": null, "hasNext": true, "next": "1346964201583049:0:0",
        "hasPrev": false, "total": null, "id": "1346964201583049:0:0", "more": true},
        "code": 0, "response": [{"isJuliaFlagged": true, "isFlagged": false, "forum":
        "cnn", "parent": 642381014, "author": {"username": "cnn-84f87671a7ee62f163078550db",
        "about": "", "name": "MyrrrhthfuIl", "url": "#", "joinedAt": "2012-09-05T22:40:49",
        "rep": 1.2011889999999998, "profileUrl": "http://disqus.com/cnn-84f87671a7ee62f163078550db/",
        "emailHash": "1dd83cfc541956598bb15fe842e5f890", "reputation": 1.2011889999999998,
        "location": "", "isPrimary": true, "isAnonymous": false, "id": "31694618",
        "avatar": {"small": {"permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar32.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar32.jpg?1327959337"},
        "large": {"permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337"},
        "permalink": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337",
        "cache": "https://securecdn.disqus.com/uploads/forums/19/3157/avatar92.jpg?1327959337"}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_message":
        "And you''re a nutcase who repeats his same defeated argument over and over
        again in the face of evidence, stupid.", "createdAt": "2012-09-06T20:43:24",
        "id": "642385071", "thread": "830718388", "numReports": 0, "likes": 0, "isEdited":
        false, "points": 0, "message": "<p>And you''re a nutcase who repeats his same
        defeated argument over and over again in the face of evidence, stupid.</p>",
        "isSpam": false, "isHighlighted": false, "userScore": 0}, {"isJuliaFlagged":
        true, "isFlagged": false, "forum": "abcdigital", "parent": null, "author":
        {"username": "abc-pre-a4f70c3c8a156671bcaa25e5f980304a", "about": "", "name":
        "ManuelCF", "url": "http://comunidad.abc.es/perfil.php?user=ManuelCF", "joinedAt":
        "2012-03-11T16:46:27", "rep": 1.5003359999999999, "profileUrl": "http://disqus.com/abc-pre-a4f70c3c8a156671bcaa25e5f980304a/",
        "emailHash": "a587648712a71e1f5c1f40330a86feba", "reputation": 1.5003359999999999,
        "location": "", "isPrimary": true, "isAnonymous": false, "id": "23446002",
        "avatar": {"small": {"permalink": "http://disqus.com/api/users/avatars/abc-pre-a4f70c3c8a156671bcaa25e5f980304a.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2344/6002/avatar32.jpg?1346417319"},
        "isCustom": false, "permalink": "http://disqus.com/api/users/avatars/abc-pre-a4f70c3c8a156671bcaa25e5f980304a.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2344/6002/avatar92.jpg?1346417319",
        "large": {"permalink": "http://disqus.com/api/users/avatars/abc-pre-a4f70c3c8a156671bcaa25e5f980304a.jpg",
        "cache": "https://securecdn.disqus.com/uploads/users/2344/6002/avatar92.jpg?1346417319"}}},
        "media": [], "isDeleted": false, "isApproved": true, "dislikes": 0, "raw_me[...]
